* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*body to have listed background color*/
body {
    background-color: #d9dcd6;
}

/* changing from .header (class) to header (tag)*/
/*header to contain listed properties*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*header to have in line properties/ next to each other */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* assigning class seo to have text color listed*/
.seo{
    color: #d9dcd6;
}

/* .header div { */
/* assigning navigation class to have properties listed*/
.navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/*.header div ul li {*/
/* have listed items to be in line/next to each other*/
li{
    display: inline-block;
    margin-left: 25px;
}

/*code with a tag will get listed properties below*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* code with p tag will get font size of 16 px*/
p {
    font-size: 16px;
}

/*hero class section will get properties listed*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* having image with this class to float left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* having image with this class to float right */
.float-right {
    float: right;
    margin-left: 25px;
}

/*class to have properties listed*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* consolidate .benefit-lead, .benefit-brand and .benefit-cost classes into .benefit-sub*/
.benefit-sub {
    margin-bottom: 32px;
    color: #ffffff;
}

/* consolidate .benefit-lead h3, .benefit-brand h3, .benefit-cost h3 into h3*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* consolidate .beneefit-lead img, .benefit-brand img, .benefit-cost img into .benefit-sub img*/
.benefit-sub img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* consolidate .search-engine-optimization, .online-reputation-management, .social-media-marketing into .subcontent*/
.subcontent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* consolidate .search-engine-optimization img, .online-reputation-management img, .social-media-marketing img into .subcontent img*/
.subcontent img{
    max-height:200px;
}


/* consolidate .search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 into h2*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*changing from .footer (class) to footer(tag)*/
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changing from .footer h2 to h4*/
h4{
    font-size: 20px;
}
